.vscode/**
.vscode-test/**
src/**
out/**
scripts/**
docs/**
node_modules/**
.gitignore
.gitattributes
.git/**
.github/**
esbuild.js
eslint.config.mjs
tsconfig.json
tsconfig.eslint.json
vitest.config.ts
CONTRIBUTING.md
**/*.map
**/*.ts
!dist/**
